
@font-face {
    font-family: 'Alegreya Sans';
    src: url('../styles/fonts/alegreyasans-regular-webfont.woff2') format('woff2'),
         url('../styles/fonts/alegreyasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Alegreya Sans';
    src: url('../styles/fonts/alegreyasans-light-webfont.woff2') format('woff2'),
         url('../styles/fonts/alegreyasans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Alegreya Sans Medium';
    src: url('../styles/fonts/alegreyasans-medium-webfont.woff2') format('woff2'),
         url('../styles/fonts/alegreyasans-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Alegreya Sans';
    src: url('../styles/fonts/alegreyasans-bold-webfont.woff2') format('woff2'),
         url('../styles/fonts/alegreyasans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alegreya Sans - Black Italic';
    src: url('../styles/fonts/AlegreyaSans-BlackItalic.woff2') format('woff2'),
         url('../styles/fonts/AlegreyaSans-BlackItalic.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Alegreya Sans - Extra Bold';
    src: url('../styles/fonts/alegreyasans-extrabold-webfont.woff2') format('woff2'),
         url('../styles/fonts/alegreyasans-extrabold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}